@font-face {
    font-family: "sans_light";
    src: url(../Fonts/sans_light.ttf);
}
*::selection{
    background-color: #D7282F;
    color: white;
}

body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
h1{
    font-family: "sans_light";
    font-weight: lighter;
}
button{
    cursor: pointer;
}
#header{
    width: 65%;
    margin: auto;
    padding-top: 1%;
}
#header>*{
    padding: 1%;
}
.span{
    border-bottom: 3px solid #D7282F;
    padding-bottom: 3%;
}
a{
    text-decoration: none;
}
#navbar a{
    color:black;
}
#logo{
    display: flex;
    justify-content: center;
}
#navbar{
    display: flex;
    justify-content: space-around;
}
#navbar *:hover{
    color: red;
}
#navbar img{
    width: 2%;
}